{% extends 'base.html.twig' %}
{% block title %}Mot de passe{% endblock %}

{% block body %}


    <div class="form-container">
        <h1 class="text-center">Modifier votre mot de passe</h1>
            {% for flashError in app.flashes('password_error') %}
                <div class="btn btn-red">{{ flashError }}</div>
            {% endfor %}

            {{ form_start(changePasswordForm) }}
                <div>
                  {{ form_errors(changePasswordForm) }}
                </div>
                <div class="form-item">
                    {{ form_label(changePasswordForm, "Ancien mot de passe") }}
                    {{ form_widget(changePasswordForm.old_password) }}
                </div>
                <div class="form-item">
                    {{ form_label(changePasswordForm, "Nouveau mot de passe") }}
                    {{ form_widget(changePasswordForm.new_password.first) }}
                </div>
                <div class="form-item">
                    {{ form_label(changePasswordForm, "Confirmez votre nouveau mot de passe") }}
                    {{ form_widget(changePasswordForm.new_password.second) }}
                </div>
                <div class="home-btn flex">
                    <button type="submit" class="btn btn-green">Modifier</button>
                    <a href="{{ path('app_forgotten_password') }}" class="btn btn-blue">Mot de passe oublié</a>
                </div>
            {{ form_end(changePasswordForm) }}
    </div>

{% endblock %}