{% extends 'base.html.twig' %}
{% block title %}Mot de passe oublié{% endblock %}

{% block body %}


    <div class="form-container">

        <h1 class="text-center">Mot de passe oublié</h1>

            {% for message in app.flashes('danger') %}
                <div class="btn btn-red">{{ message }}</div>
            {% endfor %}

            {{ form_start(emailForm) }}

                <div class="form-item-single">
                    {{ form_label(emailForm, "Email") }}
                    {{ form_widget(emailForm.email, {
                        label: 'Email',
                        'attr' : {
                            'placeholder' : 'Votre adresse email...'
                        }
                    }) }}
                </div>

                <div class="text-center">
                    <button type="submit"  class="btn btn-green">Envoyer</button>
                </div>

            {{ form_end(emailForm) }}

    </div>

{% endblock %}