{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <div class="form-container">

{#        <div class="">#}

            <h1 class="no-mt text-center">Inscription</h1>

            {{ form_start(registrationForm) }}
            <div>
                {{ form_errors(registrationForm) }}
            </div>
            <div class="form-item">
                {{ form_label(registrationForm, "Pseudo") }}
                {{ form_widget(registrationForm.username, {
                    label: 'Nom d\utilisateur',
                    'attr' : {
                        'placeholder' : 'Nom d\utilisateur...'
                    }
                }) }}
            </div>

            <div class="form-item">
                {{ form_label(registrationForm, "Email") }}
                {{ form_widget(registrationForm.email, {
                    label: 'Email',
                    'attr' : {
                        'placeholder' : 'Votre adresse email...'
                    }
                }) }}
            </div>

            <div class="form-item">
                {{ form_label(registrationForm, "Prénom") }}
                {{ form_widget(registrationForm.firstname, {
                    label: 'Prénom',
                    'attr' : {
                        'placeholder' : 'Votre prénom...'
                    }
                }) }}
            </div>

            <div class="form-item">
                {{ form_label(registrationForm, "Nom") }}
                {{ form_widget(registrationForm.lastname, {
                    label: 'Nom',
                    'attr' : {
                        'placeholder' : 'Votre nom...'
                    }
                }) }}
            </div>
            {% if not app.user or not app.user.id %}
                <div class="form-item">
                    {{ form_label(registrationForm, "Mot de passe") }}
                    {{ form_widget(registrationForm.plainPassword, {
                        label: 'Mot de passe',
                        'attr' : {
                            'placeholder' : 'Mot de passe !'
                        }
                    }) }}
                </div>
            {% endif %}
            <div class="form-item">
                {{ form_row(registrationForm.agreeTerms) }}

                <button type="submit" class="btn btn-green justify-content-center">
                    {% if not app.user or not app.user.id %}
                        S'inscrire
                    {% else %}
                        Modifier
                    {% endif %}
                </button>
            </div>
            {{ form_end(registrationForm) }}
{#        </div>#}
    </div>
{% endblock %}
